{% extends 'ec_admin/admin_interface.html' %}


{% block title %}
    <title>Add Voter</title>
{% endblock %}

    {% block content %}
    
    <div class="container" style="background-color: white; padding: 20px; margin-top: 20px; border-radius: 5px; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)">

        <div class="row">
            <div class="col-12 mb-3">
                <h5 class="text-muted">Add Voter</h5>
            </div>
        </div>

        <hr>
        
        <form action="" class="row g-3" method="post">

            {% csrf_token %}

            <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <input type="number" class="form-control" required placeholder="Username" name="username" value="{{username}}">
            </div>

            <div class="col-md-6">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" value="{{first_name}}" required>
            </div>

            <div class="col-md-6">
                <label for="middle_name" class="form-label">Middle Name</label>
                <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Middle Name" value="{{middle_name}}">
            </div>

            <div class="col-md-6">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" value="{{last_name}}" required>
            </div>
            
            <div class="col-md-6">
                <label for="gender" class="form-label">Gender</label>
                <select name="gender" id="gender" class="form-select" required>
                    <option value="">Choose...</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>

                    {% if gender == "M" %}

                        <option value="M" selected>Male</option>
                        <option value="F">Female</option>

                    {% elif gender == "F" %}

                        <option value="M">Male</option>
                        <option value="F" selected>Female</option>

                    {% endif %}
                    
                </select>
            </div>

            <div class="col-md-6">
                <label for="dob" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" name="dob" id="dob" value="{{dob}}" required>
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{email}}" required>
            </div>

            <div class="col-12">
              
                <button class="btn btn-primary">Continue</button>
            </div>

        </form>

    </div>


    
    </div>

    
    {% endblock %}
