<!DOCTYPE html>
<html lang="en">
<head>
    
        {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index/bs5/css/bootstrap.css' %}"/>
</head>
<body style="background-color: rgb(236, 236, 236);">

    <style>
        .form-group{
            margin: 10px;
        }

        .container{
            width: 400px;
            margin-top: 50px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    </style>

    
    {% for message in messages %}

        <script>alert("{{message}}")</script>
        
    {% endfor %}

    <div class="container px-1" style="background-color: white; padding:10px; border-radius: 8px;">

        <h3 class="lead" style="text-align: center; font-size: 27px;">Voter Login</h3>

        <div style="width: 40%; margin: 0 auto; text-align: center;">
            <img class="img-fluid" src="{% static 'index/my_pic.png' %}" alt="">
        </div>
        
        <form class="form g-3" action="" method="post">

            {% csrf_token %}

            <div class="form-group has-feedback">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter your index number" required class="form-control" id="username" value="{{username}}">
            </div>

            <div class="form-group has-feedback">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your pin" required class="form-control" id="password">
            </div>

            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-primary" style="text-align: center; width: 40%">Login</button>
            </div>
        </form>


        <hr>

        <footer class="footer" style="text-align: center;"> <small class="text-muted"> Copyright <span>&copy;</span> ToskyBrown Technology - 2021 </small> </footer>

    </div>

    <script src="{% static 'index/bs5/js/bootstrap.js' %}"></script>
</body>
</html>